@model IEnumerable<OnlineLearningPortal.Models.UserModel>
@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@Styles.Render("~/Content/Styles/AllUsers.css")
<div class="titleHeader">
    <h2>AllUsers</h2>
    <a href="~/Admin/CreateUser" class="addUserBtn">Add User</a>
</div>
<div class="AllUserTable" style="width:calc(100vw - 280px);overflow-x:auto;">
<table border="2">
    <tr>
        <th>First Name</th>        
        <th>User Name</th>        
        <th>Email</th>        
        <th>Mobile</th>
        <th>State</th>
        <th>User Type</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>           
            <td>@item.PhoneNumber</td>
            <td>@item.State</td>
            <td>@item.UserType</td>
            <td>
                <a href="~/Admin/EditUser?Id=@item.Id">View Details</a>
                <a href="~/Admin/EditUser?Id=@item.Id">Edite</a>
                <a href="~/Admin/DeleteUser?Id=@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>
</div>
