@model IEnumerable<OnlineLearningPortal.Models.UserModel>
@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@Styles.Render("~/Content/Styles/AllUsers.css")
<h2>AllUsers</h2>
<div class="AllUserTable" style="width:calc(100vw - 260px);overflow-x:auto;">
<table border="2">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Email</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Mobile</th>
        <th>User Type</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.DOB</td>
            <td>@item.Gender</td>
            <td>@item.Address</td>
            <td>@item.City</td>
            <td>@item.State</td>
            <td>@item.Email</td>
            <td>@item.UserName</td>
            <td>@item.Password</td>
            <td>@item.PhoneNumber</td>
            <td>@item.UserType</td>
            <td>
                <a href="~/Admin/EditUser?Id=@item.Id">Edite</a>
                <a href="~/Admin/DeleteUser?Id=@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>
</div>
