@model IEnumerable<OnlineLearningPortal.Models.UserModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@Styles.Render("~/Content/Styles/AllUsers.css")


<div style="display:flex;align-items:center;gap:10px;margin-bottom:10px">
    <div style="width:250px;height:150px;display:flex;justify-content:center;align-items:center;border-radius:10px; flex-direction:column;box-shadow:0 0 13px rgba(0,0,0,0.34) ">
        <p>Total Course:</p>
        <h2>@ViewBag.CourseCount</h2>

    </div>
    <div style="width: 250px; height: 150px; display: flex; justify-content: center; align-items: center; flex-direction: column; border-radius: 10px; box-shadow: 0 0 13px rgba(0,0,0,0.34);">
        <p>Total Users:</p>
        <h2>@ViewBag.UserCount</h2>
    </div>
</div>
<h2>All Users</h2>
<div style="width:calc(100vw - 280px);overflow-x:auto;">
    
    <table border="2">
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>State</th>
            <th>Mobile</th>
            <th>User Type</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.Gender</td>
                <td>@item.State</td>
                <td>@item.PhoneNumber</td>
                <td>@item.UserType</td>

            </tr>
        }

    </table>


</div>


