@model IEnumerable<OnlineLearningPortal.Models.ContactCommentModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@Styles.Render("~/Content/Styles/AllUsers.css")
<style>
       h2 {
        font-size: 24px;
        font-weight: bold;
        margin: 20px;
        font-family: Arial, sans-serif;
    }

    .contactFormTableBox {
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto;
        min-width: 800px;
        border: 2px solid #ddd;
    }

    th, td {
        padding: 12px;
        border: 2px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    td {
        vertical-align: middle;
    }

    @@media (max-width: 768px) {
        table, th, td {
            font-size: 12px;
        }
    }
</style>

<div style="display:flex;align-items:center;gap:10px;margin-bottom:10px">
    <div style="width:250px;height:150px;display:flex;justify-content:center;align-items:center;border-radius:10px; flex-direction:column;box-shadow:0 0 13px rgba(0,0,0,0.34) ">
        <p>Total Course:</p>
        <h2>@ViewBag.CourseCount</h2>

    </div>
    <div style="width: 250px; height: 150px; display: flex; justify-content: center; align-items: center; flex-direction: column; border-radius: 10px; box-shadow: 0 0 13px rgba(0,0,0,0.34);">
        <p>Total Users:</p>
        <h2>@ViewBag.UserCount</h2>
    </div>
</div>
<h2>Contact Form Message</h2>
<div class="contactFormTableBox" style="width:calc(100vw - 280px);overflow-x:auto;">
    
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Mesage</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>                
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Country</td>
                <td>@item.Message</td>
            </tr>
        }

    </table>


</div>


