@model OnlineLearningPortal.Models.UserCoursesModel
@{
    ViewBag.Title = "UserDetailView";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@Styles.Render("~/Content/Styles/UserDetailView.css")
@Styles.Render("~/Content/Styles/Course.css")
<div class="userviewContainer">
    @foreach (var item in Model.Users)
    {
        <div class="userview">
            <div class="userImageBox">
                <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_640.png" />
                <h2 class="username">@item.FirstName @item.LastName</h2>
            </div>
            <div class="userInfoBox">
                <div class="userPersonalInfo">
                    <p>User Info</p>
                    <div class="userPersonalInfoBox">
                        <div class="userDOBBox">
                            <label>User name :</label>
                            <label class="dob">@item.UserName</label>
                        </div>
                        <div class="userDOBBox">
                            <label>Email :</label>
                            <label class="dob">@item.Email</label>
                        </div>
                        <div class="userDOBBox">
                            <label>Gender :</label>
                            <label class="dob">@item.Gender</label>
                        </div>
                        <div class="userDOBBox">
                            <label>Date of Birth :</label>
                            <label class="dob">@item.DOB</label>
                        </div>
                        <div class="userDOBBox">
                            <label>Mobile :</label>
                            <label class="dob">@item.PhoneNumber</label>
                        </div>
                    </div>
                </div>
                <div class="userAddressInfo userPersonalInfo">
                    <p>Address Info:</p>
                    <div class="userPersonalInfoBox">
                        <div class="addressBox">
                            <label>Address : </label>
                            <label class="address">@item.Address</label>
                        </div>
                        <div class="addressBox">
                            <label>City : </label>
                            <label class="address">@item.City</label>
                        </div>
                        <div class="addressBox">
                            <label>State : </label>
                            <label class="address">@item.State</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        <div class="createBtnBox">
            <h2>Courses</h2>
        </div>
        <table >
            <tr>
                <th>Course</th>
                <th>Course Name</th>
                <th>Course Catagroy</th>
                <th>Course Desc</th>
                <th>Enroll Status</th>
            </tr>
            @foreach (var item in Model.Courses)
            {
                <tr>
                    <td>
                        @{
                            var image64 = Convert.ToBase64String(item.CoursePhoto);
                            var src = string.Format("data:image/gif;base64,{0}", image64);
                        }
                        <img src="@src" class="courseImage" width="100" height="50" />
                        @*<iframe width="100" height="50" src="@item.Coursesrc"></iframe>*@
                    </td>
                    <td>@item.Coursename</td>
                    <td>@item.CourseCatagory</td>
                    <td>@item.Coursedesc</td>
                    @if (item.Enroll=="Reject") {                     
                        <td>Waiting List</td>
                    }
                    else
                    {
                        <td>@item.Enroll</td>
                    }
            

                </tr>

            }
        </table>
    </div>
</div>
