@model IEnumerable<OnlineLearningPortal.Models.CourseModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LogUserLayout.cshtml";
}
@Styles.Render("~/Content/Styles/UserIndex.css")
<div class="userMainContainer">
  

   
    
<div class="courseContainer">
    @foreach (var item in Model)
    {
        <a href="~/User/VideoPlayView?courseid=@item.CourseID" class="Couserlink">
            <div class="course">
                @{
                    var image64 = Convert.ToBase64String(item.CoursePhoto);
                    var src = string.Format("data:image/gif;base64,{0}", image64);
                }
                <div class="imagebox">
                    <img src="@src"  class="" />
                </div>
                @*<iframe src="@item.Coursesrc " width="250" height="200"></iframe>*@
                <div class="courseContent" style="margin-bottom:20px">
                    <h3> @item.Coursename</h3>
                    <h4>@item.CourseCatagory</h4>

                </div>
                <p style="margin-top:auto">Course</p>
            </div>
        </a>
    }
</div>

</div>

